.navbar {
    background-color: var(--home-color) !important;
    color: grey;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-light .navbar-nav .active > .nav-link {
    color:var(--primary-color);
}